{% extends "::base.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                {{ include("EcommerceBundle:Includes/ModulesLeft:navigation.html.twig") }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <h1>Votre panier</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Qté</th>
                            <th>PU</th>
                            <th>Total HT</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>AB29837</td>
                        <td>
                            <input id="basket_row_item_qty" type="text" name="basket_row_item_AB29837_qty" placeholder="1" value=""/>
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;<i class="glyphicon glyphicon-trash"></i>
                        </td>
                        <td>26,85 €</td>
                        <td>26,85 €</td>
                    </tr>
                    <tr>
                        <td>CD29837</td>
                        <td>
                            <input id="basket_row_item_qty" type="text" name="basket_row_item_CD29837_qty" placeholder="1" value=""/>
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;<i class="glyphicon glyphicon-trash"></i>
                        </td>
                        <td>89,22 €</td>
                        <td>89,22 €</td>
                    </tr>
                    <tr>
                        <td>EF29837</td>
                        <td>
                            <input id="basket_row_item_qty" type="text" name="basket_row_item_EF29837_qty" placeholder="1" value=""/>
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;<i class="glyphicon glyphicon-trash"></i>
                        </td>
                        <td>23,10 €</td>
                        <td>23,10 €</td>
                    </tr>
                    <tr>
                        <td>GH29837</td>
                        <td>
                            <input id="basket_row_item_qty" type="text" name="basket_row_item_GH29837_qty" placeholder="1" value=""/>
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;<i class="glyphicon glyphicon-trash"></i>
                        </td>
                        <td>156,50 €</td>
                        <td>156,50 €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="basket-table-total table pull-right">
                    <tbody>
                    <tr>
                        <td><b>Total HT</b> :</td>
                        <td>295,67 €</td>
                    </tr>
                    <tr>
                        <td><b>TVA</b> :</td>
                        <td>62,1 €</td>
                    </tr>
                    <tr>
                        <td><b>Total TTC</b> :</td>
                        <td>357,77 €</td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <p>
                    <a class="btn btn-primary pull-left" href="{{ path('ecommerce_homepage') }}">Continuer mes achats</a>
                    <a class="btn btn-success pull-right" href="{{ path('ecommerce_basket_delivery') }}">Valider mon panier</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
