{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- HERE the product update form -->
                <p class="text-right">
                    <button class="btn btn-success">Mettre le produit à jour</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}