{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="#" alt="#" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Item brand and category</h1>
                <h3>Item reference</h3>
                <div class="item-description-bloc">
                    <h3>Item description</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante lectus, viverra at quam sit amet, pharetra laoreet orci. Donec semper vestibulum nisl. Suspendisse potenti. Cras risus turpis, eleifend ac varius vel, bibendum eget lorem. Suspendisse potenti. Maecenas pulvinar, ligula porta iaculis fringilla, urna ante vulputate augue, non tincidunt ex nulla sed sem. Aenean ultricies, nisl quis posuere pulvinar, mauris ligula ornare ligula, quis sollicitudin ex est vel eros.
                    </p>
                </div>
                <p class="text-right"><span class="item-price label label-default">56,23 €</span></p>
                <div class="item-qty-select-bloc">
                    <select title="Quantity" class="item-qty-select form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select><!-- END item-qty-select -->
                </div><!-- END item-qty-select-bloc -->
                <p class="text-right">
                    <button class="btn btn-primary">Ajouter au panier</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}