{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    <div class="container">
        <div class="row">
            {{ include('@FOSUser/Security/login_content.html.twig') }}
        </div><!-- END .row -->
    </div>
{% endblock fos_user_content %}
