<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>Nom du produit</h3>
        </div>
        <div class="panel-body">
            <p><img class="img-responsive" src="{{ asset('assets/images/'~i~'.jpg') }}" alt="#"/></p>
            <p class="prod-price text-right"><span class="label label-info">100,00 €</span></p>
        </div>
        <div class="panel-footer">
            <p class="text-center">
                <a class="btn btn-primary" href="{{ path('ecommerce_product_detail') }}">Infos</a>
                <a class="btn btn-success" href="{{ path('ecommerce_basket') }}">Panier</a>
            </p>
        </div>
    </div>
</div>