<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('ecommerce_homepage') }}"><img alt="Brand" src="#"></a>
        </div>
        {{ render(controller('EcommerceBundle:Product:productSearcForm')) }}

    </div>
</nav>