<div class="well">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-shopping-cart"></span> 3 items - 54,27 €
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Item x 1 : <span class="badge">18,09 €</span></a></li>
            <li><a href="#">Item x 189 : <span class="badge">556,09 €</span></a></li>
            <li><a href="#">Item x 1 : <span class="badge">9,52 €</span></a></li>
            <li><a href="#">Item x 1 : <span class="badge">89,05 €</span></a></li>
            <li class="text-center"><a class="btn btn-primary" href="{{ path('ecommerce_basket') }}">Mon panier</a></li>
        </ul>
    </div>
</div>