<div class="well">
    <ul class="nav nav-pills nav-stacked">
        <li class="navbar-header"><b>Nos produits</b></li>
        <li role="presentation" class="active"><a href="#">Légumes</a></li>
        <li role="presentation"><a href="#">Fruits</a></li>
    </ul>
</div>