<div class="well">
    <ul class="nav nav-stacked">
        <li class="navbar-header"><b>Nos catégories de produits</b></li>
        {{ render( controller( 'EcommerceBundle:Category:menuCategNav' ) ) }}
    </ul>
</div>