<div class="well">
    <ul class="nav nav-pills nav-stacked">
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
        {% else%}
            <li><a class="text-info" href="{{ path('user_homepage') }}"><b>Mon dashboard</b></a></li>
            <li><a class="text-danger" href="{{ path('fos_user_security_logout') }}"><b>Se déconnecter</b></a></li>
        {% endif %}

    </ul>
</div>