{%  extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>Title 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut purus quis enim ultricies vestibulum semper eu odio. Phasellus volutpat sagittis venenatis. Suspendisse at velit sed lacus volutpat sollicitudin vel id felis. Maecenas non iaculis risus, ut ornare leo. Vestibulum vehicula fringilla dui.</p>
                <h1>Title 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut purus quis enim ultricies vestibulum semper eu odio. Phasellus volutpat sagittis venenatis. Suspendisse at velit sed lacus volutpat sollicitudin vel id felis. Maecenas non iaculis risus, ut ornare leo. Vestibulum vehicula fringilla dui.</p>
                <h1>Title 3</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut purus quis enim ultricies vestibulum semper eu odio. Phasellus volutpat sagittis venenatis. Suspendisse at velit sed lacus volutpat sollicitudin vel id felis. Maecenas non iaculis risus, ut ornare leo. Vestibulum vehicula fringilla dui.</p>
            </div>
        </div>
    </div>
{% endblock %}
